<div class="container-md mt-3">
   <div class="card">
      <div class="card-header">
         <h1>Server information</h1>
      </div>
      <div class="card-body">
         <ul class="list-group">
            <li class="list-group-item">
               <strong>Args:</strong>
               {{info.args}}
            </li>
            <li class="list-group-item">
               <strong>Os:</strong>
               {{info.os}}
            </li>
            <li class="list-group-item">
               <strong>Node version :</strong>
               {{info.node_v}}
            </li>
            <li class="list-group-item">
               <strong>Path:</strong>
               {{info.path}}
            </li>
            <li class="list-group-item">
               <strong>Pid:</strong>
               {{info.pid}}
            </li>
            <li class="list-group-item">
               <strong>Dir:</strong>
               {{info.dir}}
            </li>
            <li class="list-group-item">
               <strong>Memory:</strong>
               {{info.memory.rss}}
            </li>
         </ul>
      </div>
   </div>
</div>