<div class="container-md mt-3">
		
	{{#if user}}
	 <div class="alert alert-primary row">
			<span class="col">
			Bienvenido {{user.email}}
			</span> 
		 <a class="btn btn-info col" href="/logout">Logout</a>
	 </div>
	 {{/if}}
<div class="card mt-3">
	<h2 class="card-header">Agregar Productos</h2>
<form id="form" class="card-body">
	<label for='title' class="form-label">Titulo</label>
	<input type='text' name='title' id='title' class="form-control" />
	<label for='price' class="form-label">Precio</label>
	<input type='number' name='price' id='price' class="form-control" />
	<label for='price' class="form-label">Imagen</label>
	<input type='text' name='thumbnail' id='thumbnail' class="form-control" />
	<input type='submit' value='Crear' class="btn btn-primary mt-3"/>
</form>
</div>
<div class="card mt-3">
	<h2 class="card-header">Productos</h2>
	<div class="card-body">

	{{#if productos}}
        <table id="table" class="table">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
		    {{#each productos}}
			    <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td>
                        <img src={{this.thumbnail}} style="width: 50px;"></img>
                    </td>
                </tr>
		    {{/each}}
        </table>
	{{else}}
		<span>No hay productos</span>
	{{/if}}
	</div>

</div>


<div class="card mt-3">


	<h2 class="card-header">Chat</h2>
	<div class='card-body'>

	
	<form id="messages" class="row align-items-center">

		

		<div class="col">
			<div>

			<label for="email" class="form-label">Email</label>
			<input type="text" id="email" name="email" class="form-control">
			</div>
		
			<div>
					<label for="lastname" class="form-label">Apellido</label>
		<input type="text" id="lastname" name="lastname" class="form-control">
	
			</div>
		</div>


	<div class="col">
		<label for="age" class="form-label">Edad</label>
		<input type="number" id="age" name="age" class="form-control">

		<label for="alias" class="form-label">Alias</label>
		<input type="text" id="alias" name="alias" class="form-control">
	</div>
		<div class="col">
		<label for="avatar" class="form-label">Avatar</label>
		<input type="text" id="avatar" name="avatar" class="form-control">
	
		<label for="name" class="form-label">Nombre</label>
		<input type="text" id="name" name="name" class="form-control">
	</div>
	<div>

		<label for="message" class="form-label">Mensaje</label>
		<textarea type="text" id="message" name="message" class="form-control"></textarea>

		<button type="submit" class="btn btn-warning mt-3 btn-lg">Enviar Mensaje</button>
	</div>
	</form>
	</div>
	<div id="errors">

	</div>
	<hr>

	<div >
		<ul id="chat">
		{{#if messages}}
		
			{{#each messages}}
				<li>
					<span style="color: blue; font-weight: 600;">{{this.author.id}}: </span>
					<span style="color: brown;">[{{this.date}}]</span>
					<span style="color: green; font-style: italic;">{{this.text}}</span>
				</li>
			{{/each}}
		{{else}}
			<span>No hay mensajes</span>
		{{/if}}
		</ul>

	</div>


</div>
</div>
<script src='/js/client.js' defer></script>